/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
$main-color: #fafafa;
$green: #e1e0aa;
$green-accent1: #3f423f;

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
*,
*:before,
*:after {
  // Reset box-sizing
  box-sizing: border-box;
}

* {
  // Reset margin and font-size
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

img {
  display: block; // make images block level elements
  max-width: 100%; // make images responsive
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
html {
  background-color: $main-color;
  scroll-behavior: smooth;
  height: 100%;
}
nav {
  background-color: #ffffff;
}

body {
  font-family: Dosis, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  height: 100%;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
.o-container {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  margin: 0 auto;
  height: 100vh;
}

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-main {
  position: relative;
}
.c-nav {
  display: flex;
  height: 100px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #fff;

  &__title {
    text-decoration: none;
    color: $green-accent1;
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    text-transform: capitalize;

    // &:hover,
    // &--active {
    //     color: $green;
    // }
    &--active {
      font-weight: bold;
    }
  }
}

.c-header {
  padding: 40px 0px;
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 78px;
  &__text {
    max-width: 692px;
  }

  &__title {
    color: $green-accent1;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
  }
  &__description {
    color: $green-accent1;
    font-family: Georgia;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__img {
    max-width: 100%;
    height: auto;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
}
.c-footer {
  background-color: $green;
  padding: 2rem;
  margin: 0;
  align-items: center;
  &__contents {
    display: flex;
    justify-content: space-between;
    &--items {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
.c-audio {
  margin: 2rem;
  flex-grow: 1;
}

#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background-color: $green-accent1;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}
//cirkel van de slider
#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: $green-accent1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 10px rgba(63, 66, 63, 0.22);
}
.c-audio-controls {
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div {
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    color: $green-accent1;
    box-shadow: 0 5px 10px rgba(63, 66, 63, 0.22);
    &:nth-child(2) {
      transform: scale(1.5);
      background-color: $green-accent1;
      color: #fff;
    }
  }
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
